@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <header>
            <ul>
                <li><a href="@routes.Directors.list()">Directors</a></li>
                <li><a href="@routes.Movies.list()">Movies</a></li>
            </ul>
        </header>

        <main>@content</main>
    </body>
</html>
